<br>
<div class="multi-carousel vertical" style="max-width: 20rem;">
  <div class="multi-carousel-inner">
    <div class="multi-carousel-item">
      <img
        src="../../../assets/home-2.jpg"/>
    </div>
    <div class="para  text-center">
      <p>Best Classes with Recorded Sessions,Availability of Materials</p>
    </div>
    <div class="multi-carousel-item">
      <img
        src="../../../assets/home-3.jpg" />
    </div>
    <div class="para text-center">
      <p>Collaboration with Colleges for Students learning flexibility </p>
    </div>
  </div>
</div>
