<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Programming with C</h5>
        <img src="../../assets/c.jpg" class="card-img-top">
        <a routerLink="/psc" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Python</h5>
        <img src="../../assets/python.jpg" class="card-img-top" >
        <a routerLink="/python" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Java</h5>
        <img src="../../assets/java.jpg" class="card-img-top" >
        <a routerLink="/java" class="btn btn-danger"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Cyber Security</h5>
        <img src="../../assets/cs.jpg" class="card-img-top">
        <a routerLink="/cs" class="btn btn-warning">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Artificial Intelligence</h5>
        <img src="../../assets/ai.jpg" class="card-img-top">
        <a routerLink="/ai" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Machine Learning</h5>
        <img src="../../assets/ml.jpg" class="card-img-top">
        <a routerLink="/ml" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold"> Data Structures</h5>
        <img src="../../assets/datastructures.jpg" class="card-img-top">
        <a routerLink="/dst" class="btn btn-primary"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">Data Science</h5>
        <img src="../../assets/datascience.jpg" class="card-img-top">
        <a routerLink="/ds" class="btn btn-primary">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-bold">DBMS</h5>
        <img src="../../assets/dbms.jpg" class="card-img-top">
        <a routerLink="/dbms" class="btn btn-primary"> View</a>
      </div>
    </div>
  </div>
</div>
