<div class="links">
  <a routerLink="/nec"  class="link-danger">Narasaraopeta Engineering College </a><br>
  <a href="#"  class="link-danger" >Tirumala Engineering College </a><br>
  <a href="#"  class="link-danger">Vasireddy Venkatadri Institute of Technology </a><br>
  <a href="#"  class="link-danger">Vignan Institute of Technology </a><br>
  <a href="#"   class="link-danger">Vishnu Institute of Technology</a><br>
  <a href="#"  class="link-danger" > RVR & JC College of Engineering</a><br>
  <a href="#"  class="link-danger">Aditya Institute of Technology and Management </a><br>
  <a href="#"  class="link-danger">Bapatla Engineering College </a><br>
  <a href="#"  class="link-danger">Chalapathi Institute of Engineering and Technology </a><br>
  <a href="#"  class="link-danger">Gayathri Vidya Parishad College of Engineering </a><br>
  <a href="#"  class="link-danger">Lakkireddy Bali Reddy College of Engineering</a><br>
  <a href="#"  class="link-danger"> NRI Institute of Technology</a><br>
  <a href="#"  class="link-danger">QIS College Engineering  and Technology</a><br>
  <a href="#"  class="link-danger">Siddartha Institute of Engineering and Technology </a><br>
  <a href="#"  class="link-danger">Sree Vidyanikethan Engineering College </a><br>
  <a href="#"  class="link-danger">Pace College of Engineering </a><br>
  <a href="#"  class="link-danger">Gudlavalleru Engineering College</a><br>

</div>
